.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    // box-shadow: 0px 0px 10px #762a26;
    filter: drop-shadow(2px 2px 20px #3d0402);
    transition: 0.3s;
    animation: fadeIn 3s;
}
.food-item-image{
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.food-item-info{
    padding: 20px;
}
.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    p{
        font-size: 20px;
        font-weight: 500;
        color: #ec827d;
    }

    img{
        width: 70px;
    }
}
.food-item-desc{
    color: #ec827d;
    font-size: 15px;
}
.food-item-price{
    color: #8e2b26;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}

.food-item-container{
    position: relative;


}
.add{
        width: 40px;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        border-radius: 50%;
        filter: drop-shadow(2px 2px 35px #3d0402);
}
.food-item-counter img{
    width: 30px;
}

.food-item-counter{
    display: flex;
    gap: 30px;
    // top: 30px;
    margin-top: 30px;
}